.mat-card {
  margin: 20px;
  mat-card-header {
    .header-image {
      background-image: url('https://randomuser.me/api/portraits/lego/2.jpg');
      background-size: cover;
    }
    mat-card-subtitle {
      height: auto;
      a {
        color: rgba(0,0,0,.54);
        text-decoration: none;
      }
    }
  }

  mat-card-content {
    .mat-card-image {
      max-width: 250px;
      margin: 0 auto;
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    a {
      float: right;
      color: rgba(0,0,0,.54);
      text-decoration: none;
    }
  }
}
